[Desktop Entry]
Name=Level9
X-GNOME-FullName=Level9 interpreter
Comment=Interactive Fiction Interpreter for games of Level9 Computing company.
Categories=Utility;
Exec=level9
Icon=${SNAP}/snap/gui/icon.svg
Terminal=false
Type=Application
Version=0.4
